#swiper {
    @media (min-width: 720px) {
        display: none;
    }
}

#swiperSlide {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}