@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  background: #48454A;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border: 2px solid #48454A;
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
  }

  .rnc__base  {
    position: fixed;
    top: 0;
    left: 0;
  }

  svg text {
    fill: #fff !important;
  }

  .swiper {
    position: unset !important;
  }

  a {
    text-decoration: none;
  }